td, th{
    text-align: center;
}
.track_list{
    display:  inline-block;
    background: wheat;
    width: 20%;
    height: auto;
}

.user_ref{
    cursor: pointer;
}
.track_ref{
    cursor: pointer;
}
.colored{
    background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
    border: 1px solid #e5e5e5;
    border-radius: 0.3rem;
    padding: 0.4rem;
}
.container{

}
.shadowtext {
    text-shadow: 1px 1px 2px black, 0 0 1em red; /* Параметры тени */ !important;
}
.navbar-dark .navbar-nav .nav-link{
    display: inline-block;
    margin-right: 32px;
    color: whitesmoke;
    font-size: large;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: .02em;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Open Sans,Helvetica,Arial,sans-serif;
    padding: 0;
}
.canvasjs-chart-credit{
    display: none;
}
.navbar{
    /*width: 100%;*/
    /*padding-right: 200px;*/
}